<html lang="en">
<head>
   <%- include('../partials/head'); %>
   <style>
    .subheading{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
   </style>
</head>
<body class="container">
    <header><%- include('../partials/header'); %></header>
    <ul class="list-group">
        <li class="list-group-item">
            <div>Heading</div>
            <div class="subheading">
                <div>heading is someting but this is not something to be pround of</div>
                <div style="font-size: 0.7rem;font-style: italic;font-weight: 300;">2021-04-02</div>
            </div>
            
        </li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
      
</body>
</html>