<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">
  
<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron" style="width: 100%;">
    <div class="container">
        <input placeholder="Heading" style="margin-bottom: 1cm;"/>
          <textarea  id="validationCustom03" style="height:10cm;width:100%" required>
        </textarea>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>  
    </div>
</div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>