<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>
    <main>
      <div class="jumbotron" style="width: 100%">
        <div class="container">
          <input
            placeholder="Heading"
            style="margin-bottom: 1cm; width: 100%"
          />
          <textarea
            id="validationCustom03"
            style="height: 10cm; width: 100%"
            required
          >
          </textarea>
          <div class="btn btn-primary" type="button">Submit</div>
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
  <script>
    const Heading = document.querySelector("input");
    const Body = document.querySelector("body");
    const Submit = document.querySelector(".btn");
    const body = {
      heading: "",
      body: "",
    };
    Heading.addEventListener("input", (e) => {
      body.heading = e.target.value;
    });
    Body.addEventListener("input", (e) => {
      body.body = e.target.value;
    });
    Submit.addEventListener("click", (e) => {
      fetch("/", {
        method: "POST",
        body: JSON.stringify(body),
        headers: {
          "Content-Type": "application/json",
        },
      })
        .then((res) => {
          console.log(res.body);
        })
        .catch((e) => {
          console.error(e);
        });
    });
  </script>
</html>
